<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-50">
            <ol class="num">
                <li>Es comunicarà la situació al responsable.</li>
                <li>S’aturaran els treballs.</li>
                <li>La persona ha d’anar a casa i consultar el 061.</li>
                <li>Posar-se en tot moment la mascareta quirúrgica.</li>
                <li>Mantenir la distància social de seguretat per a reduir el risc de contagi mentre es troba en el centre de treball.</li>
                <li>Es demana al treballador/a que comuniqui qualsevol situació del seu estat de salut que sigui rellevant per a la protecció dels companys.</li>
            </ol>
        </div>
        <div class="col-50">
            <img src="assets/img/COVID_30.jpg" alt="">
        </div>
    </div>										
</div>