<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h2>Previ a venir a treballar</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p class="instructions">Premi sobre les opcions per ampliar la informació.</p>
            <div class="timeline-img">
                <div class="item selected" (click)="selectItem(1)">
                    <div class="item-img">
                        <img src="assets/img/COVID_14.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            Es netegen tots els punts de contacte periòdicament.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(2)">
                    <div class="item-img">
                        <img src="assets/img/COVID_15.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            Cal ventilar els espais de treball periòdicament.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(3)">
                    <div class="item-img">
                        <img src="assets/img/COVID_16.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            Es tancaran els menjadors i es limitarà l’aforament a l’office, vestidors i banys.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(4)">
                    <div class="item-img">
                        <img src="assets/img/COVID_17.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            Es potenciarà el teletreball en aquells llocs de treball que ho permetin.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(5)">
                    <div class="item-img">
                        <img src="assets/img/COVID_18.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            S’evitaran les reunions presencials i en cas de fer-les es mantindrà el distanciament social.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>