<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>És un nou tipus de Coronavirus anomenat també Sars- Cov-2 que afecta a les persones. Originari de la regió Xina de Wuhan el desembre de 2019 s’ha estès amb gran rapidesa per tot el món provocant una pandèmia mundial amb un gran nombre d’afectats i víctimes mortals, principalment persones grans.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <iframe style="display: block; margin: 0 auto; max-width: 100%;" width="560" height="315" src="https://www.youtube.com/embed/9Qxb-LnhyV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>