<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p class="instructions">Fes clic a les següent imatges per obrir els següents vídeos amb més informació. Mira’ls tots:</p>
        </div>
    </div>
    <div class="row">
        <div class="card-container">
            <div class="card">
                <a href="https://www.youtube.com/watch?v=7jm_JRfWgCA&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=4&t=0s" target="_blank">
                    <div class="card-img">
                        <img src="assets/img/COVID_32.jpg" alt="">
                    </div>
                </a>
                <p><a href="https://www.youtube.com/watch?v=7jm_JRfWgCA&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=4&t=0s" target="_blank">Com ens rentem les mans?</a></p>
            </div>
            <div class="card">
                <a href="https://www.youtube.com/watch?v=ZVNm1BPJezA&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=4" target="_blank">
                    <div class="card-img">
                        <img src="assets/img/COVID_33.jpg" alt="">
                    </div>
                </a>
                <p>La <a href="https://www.youtube.com/watch?v=o4PnSYAqQHU&feature=youtu.be" target="_blank">importància</a> de mantenir la distància social i <a href="https://www.youtube.com/watch?v=ZVNm1BPJezA&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=4" target="_blank">com ho podem fer</a>?</p>
            </div>
            <div class="card">
                <a href="https://www.youtube.com/watch?v=7oB77mWyIDc&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=2" target="_blank">
                    <div class="card-img">
                        <img src="assets/img/COVID_34.jpg" alt="">
                    </div>
                </a>
                <p><a href="https://www.youtube.com/watch?v=7oB77mWyIDc&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=2" target="_blank">Com ens posem una mascareta?</a></p>
            </div>
            <div class="card">
                <a href="https://www.youtube.com/watch?v=f4Fet2mh0K4&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=5" target="_blank">
                    <div class="card-img">
                        <img src="assets/img/COVID_35.jpg" alt="">
                    </div>
                </a>
                <p><a href="https://www.youtube.com/watch?v=f4Fet2mh0K4&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=5" target="_blank">Com ens traiem una mascareta?</a></p>
            </div>
            <div class="card">
                <a href="https://www.youtube.com/watch?v=-_fgEnalsHE&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=2&t=0s" target="_blank">
                    <div class="card-img">
                        <img src="assets/img/COVID_36.jpg" alt="">
                    </div>
                </a>
                <p><a href="https://www.youtube.com/watch?v=-_fgEnalsHE&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=2&t=0s" target="_blank">Com ens posem els guants?</a></p>
            </div>
            <div class="card">
                <a href="https://www.youtube.com/watch?v=Rv9IOv3lesc&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=6" target="_blank">               
                    <div class="card-img">
                        <img src="assets/img/COVID_37.jpg" alt="">
                    </div>
                </a>
                <p><a href="https://www.youtube.com/watch?v=Rv9IOv3lesc&list=PLJxF_BJr-IU8xFFacfIvv5iKJw5gakqq-&index=6" target="_blank">Com ens traiem els guants?</a></p>
            </div>
        </div>
    </div>
</div>