<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info10" class="masInfo">
                    <p (click)="acordeon('#info10');">
                        <span>Qui són els grups vulnerables de persones? </span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div class="row">
                            <div class="col-100">
                                <ul>
                                    <li>Persones diabètiques</li>
                                    <li>Persones amb  malalties cardiovasculars i hipertensió</li>
                                    <li>Persones amb malalties pulmonars cròniques, càncers</li>
                                    <li>Persones inmunodeprimides</li>
                                    <li>Dones embarassades</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info11" class="masInfo">
                    <p (click)="acordeon('#info11');">
                        <span>Què heu de fer en cas de ser una persona vulnerable? </span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div class="row">
                            <div class="col-100">
                                <ol class="num">
                                    <li>Contacteu amb el Servei de Prevenció / RRHH.</li>
                                    <li>Contacteu amb el vostre metge de capçalera.</li>
                                    <li>Es procedirà a tramitar una baixa mèdica si la valoració mèdica ho considera.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>												
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <img style="display: block; margin: 0 auto;"src="assets/img/COVID_8.png" alt="">
        </div>
    </div>
</div>