<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>El SPMA d’AMPANS ha realitzat una avaluació de riscos específica dels centres i serveis i un pla de contingències com a base per a poder definir les bones pràctiques, mesures a aplicar i protocols específics en cada cas per a reduir el risc sobre el personal treballador i les persones ateses.</p>
            <p>L’avaluació de riscos s’ha realitzat seguint la Guia del Procediment d’actuació per als Serveis de Prevenció de Riscos Laborals front l’exposició al coronavirus del Ministerio de Trabajo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <p style="display: flex; justify-content: center; align-items: center;">
                    <span class="instructions">Fes clic a la següent icona per obrir el document Avaluació de riscos.</span> 
                    <a href="assets/docs/avaluacio.pdf" target="_blank"><img style="margin-left: 20px" src="assets/img/COVID_Adjunto.png" alt=""></a>
                </p>
            </div>
        </div>
    </div>
</div>