<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p class="instructions">Premi sobre les opcions per ampliar la informació.</p>
            <div class="timeline-img">
                <div class="item selected" (click)="selectItem(1)">
                    <div class="item-img">
                        <img src="assets/img/COVID_6.png" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            Si tens símptomes consulta el teu metge i si ho considera,  <b>NO VINGUIS A TREBALLAR</b>.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(2)">
                    <div class="item-img">
                        <img src="assets/img/COVID_7.png" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>Comuniqueu a AMPANS</b> si us han diagnosticat positius de COVID-19.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>