<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>Informar i formar segons l’article 18 i 19 de la llei 31/95 de prevenció de riscos laborals als professionals d’AMPANS en:</p>
            <ul>
                <li class="fade-uno">Què és, quins símptomes presenta el coronavirus i com es transmet? </li>
                <li class="fade-dos">Que heu de fer si us heu contagiat o teniu símptomes?</li>
                <li class="fade-tres">Qui són els grups vulnerables? Què heu de fer?</li>
                <li class="fade-cuatro">Avaluació de riscos COVID 19</li>
                <li class="fade-cinco">Quines mesures de prevenció generals hem d’aplicar?</li>
                <li class="fade-seis">Que heu de fer si presenteu símptomes mentre esteu treballant?</li>
                <li class="fade-siete">Quins equips de protecció individual hem d’usar?</li>
                <li class="fade-ocho">Vídeos de Bones Pràctiques</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita fade-nueve">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <p> <a href="https://portaljuridic.gencat.cat/ca/pjur_ocults/pjur_resultats_fitxa/?action=fitxa&documentId=555985" target="_blank">https://portaljuridic.gencat.cat/ca/pjur_ocults/pjur_resultats_fitxa/?action=fitxa&documentId=555985</a></p>
            </div>
            <img class="fade-nueve" src="assets/img/libro-de-derecho.svg" style="display: block; margin: 2em auto; width: 200px">    
        </div>
    </div>
</div>