<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <h2>Previ a venir a treballar</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <p class="instructions">Premi sobre les opcions per ampliar la informació.</p>
            <div class="timeline-img">
                <div class="item selected" (click)="selectItem(1)">
                    <div class="item-img">
                        <img src="assets/img/COVID_19.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>Evitar aglomeracions de persones</b>, principalmentsa l’entrada i sortida de la jornada, menjador, espais de descans...
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(2)">
                    <div class="item-img">
                        <img src="assets/img/COVID_20.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>Rentar-se les mans amb aigua i sabó i/o gel hidralcohòlic de forma periòdica</b>, sobretot a l’entrada i sortida de la feina.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(3)">
                    <div class="item-img">
                        <img src="assets/img/COVID_21.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>Portar el cabell recollit i evitar portar anells</b>, arracades, polseres, rellotges, ungles pintades que puguin arribar a ser punts de possible contacte de virus.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(4)">
                    <div class="item-img">
                        <img src="assets/img/COVID_22.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>Evitar salutacions físiques </b>amb d’altres persones (no abraçades, donar la mà o petons)...
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(5)">
                    <div class="item-img">
                        <img src="assets/img/COVID_23.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>Evitar tocar-se els ulls, la boca i el nas amb les mans</b>. Si has de tossir tapa’t amb la part interior del braç o usa un mocador de paper d’un sol ús.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(6)">
                    <div class="item-img">
                        <img src="assets/img/COVID_24.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            En cas d’usar guants de vinil/nitril per treballar, <b>cal rentar-se les mans abans i després de fer-los servir</b>.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(7)">
                    <div class="item-img">
                        <img src="assets/img/COVID_25.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            Procurar mantenir sempre la <b>distància social de 2 metres</b> amb la resta de persones.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(8)">
                    <div class="item-img">
                        <img src="assets/img/COVID_26.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            En el cas que no sigui possible, <b>l’empresa us ha de facilitar equips de protecció</b> per reduir riscos segons el nivell d’exposició.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(9)">
                    <div class="item-img">
                        <img src="assets/img/COVID_27.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>Sobretot en els moments que no estem treballant</b>, vestidors, banys, menjador, sortir a fumar... <b>seguir mantenint la distància social</b> amb la resta de companys/es.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(10)">
                    <div class="item-img">
                        <img src="assets/img/COVID_28.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>No comparteixis equips de treball amb els companys/es</b>. Si no és possible, cal que desinfectis els punts de contacte abans i després de l’ús i rentar-te les mans.
                        </p>
                    </div>
                </div>
                <div class="linea-gris-container">
                    <div class="linea-gris-container-33">
                        <div class="linea-gris"></div>
                    </div>
                </div>
                <div class="item" (click)="selectItem(11)">
                    <div class="item-img">
                        <img src="assets/img/COVID_29.jpg" alt="">
                    </div>
                    <div class="texto-img">
                        <p>
                            <b>El treballador netejarà el seu espai de treball</b> al finalitzar la seva jornada o en el canvi de torn en el cas d’espais de treball compartits.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>