<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-66">
            <p>Cada centre i/o servei té determinat uns protocols d’ús d’equips de protecció individual per fer front a la pandèmia del COVID-19 amb unes freqüències d’ús segons l’avaluació de riscos realitzada.</p>
        </div>
        <div class="col-33">
            <img src="assets/img/COVID_31.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <div class="cita">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <div class="links">
                    <span class="instructions">Fes clic a les següent icones per obrir els següents documents:</span> 
                </div>
                <div class="links">
                    Taula de serveis assistencials
                    <a href="assets/docs/assistencials.pdf" target="_blank"><img src="assets/img/COVID_Adjunto.png" alt=""></a>
                </div>
                <div class="links">
                    Taula de serveis laborals i serveis centrals
                    <a href="assets/docs/laborals.pdf" target="_blank"><img src="assets/img/COVID_Adjunto.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>