<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-66" style="padding-left: 2rem">
            <ul>
                <li class="fade-uno">Són símptomes similars a una grip.</li>
                <li class="fade-dos">En el 80% del casos els símptomes són lleus.</li>
                <li class="fade-tres">En alguns casos pot provocar falta aire i pneumònies.</li>
                <li class="fade-cuatro">Període d’incubació de 2 a 14 dies.</li>
                <li class="fade-cinco">La malaltia sol durar entre dos i 6 setmanes segons la persona i la gravetat de la mateixa.</li>
            </ul>
        </div>
        <div class="col-33">
            <img class="fade-cinco" style="width: 350px;"src="assets/img/COVID_3.png" alt="">
        </div>
    </div>
</div>